#aboutwave{
    position: relative;
    width: 100%;
    top: -1%;
}
.about{
    position: relative;
    height: fit-content;
    width: 100%;
    transform-origin: top;
    

}

.about-content{
    position: relative;
    height: 600px;
    width: 100%;
    

}
.about-text{
    position: absolute;
    top: 10%;
    bottom: 20px;
    padding: 20px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 550px;
    height: fit-content;
    
}
.about-text h1{font-size: 2rem;}
.about-text p span{color: var(--color);}
.about-text p a {color: var(--color);}

.tools{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;

}

.skills{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 20px;
    
    gap: 20px;
}

.skills li{
    border:none;
    background-color: var(--themeContent);
    width: 80px;
    height: 80px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: transform ease-in-out 0.15s;
}

.skills img{
    z-index: 100;
    max-width: 50px;
    max-height: 50px;
    
}

.skills li:hover{
    transform: scale(1.2);
}

.skills svg{
    height: 50px;
    width: 50px;
}

.skills svg path{
    fill: none;
}

.skills .point{
    fill : #61DAFB
}





/* BLOB */
.about-image{
    position: relative;
    right: -35vw;
    top: -50px;
    max-height: 700px;
    max-width: 700px;
}








@media screen and (max-width: 1300px) {
    .about-image{right: -40vw;}
}

@media screen and (max-width: 1100px){
    .about-image{display: none;}
    .about-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .separator{
        width: 100%;
        height: 1px;
        background-color: #ccc;
    }
    .tools{
        justify-content: space-evenly;
        gap: 0px;
    }
    /* .tools > div{width: 40%;} */

}

@media screen and (max-width: 800px){
    .about{height: 100%;}
    
}

@media screen and (max-width: 600px){
    .about-text{
        width: fit-content;
        margin: 20px;
    }
}
