.contact{
    margin-top: 100px;
    padding: 20px;
    height: fit-content;
    min-width: 315px;
    min-height: 400px;
    display: flex;
    justify-content: center;
}
.contact-content{
    width: fit-content;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-content h1{font-size: 2rem;}
.contact-content button{
    position: relative;
    width: 160px;
    height: 60px;
    border: 2px solid var(--color);
    border-radius: 12px;
    color: #f7f7f7;
    background-color: var(--color);
    font-size: var(--fz-lg);
    overflow: hidden;

}
.contact-content button::before{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%,-50%);
    content: "Say Hello";
    transition: left 0.2s ease-in-out;

}
.contact-content button::after{
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%,-50%);
    content: url(../assets/paperplane.svg);
    transition: left 0.2s ease-in-out;
}


@media screen and (min-width: 900px) {
    .contact-content button{
        background-color: transparent;
        color: var(--color);
    }
    .contact-content button::before{left: 50%;}
    .contact-content button::after{left: 110%;}
    .contact-content button:hover::before{left: 45%;}
    .contact-content button:hover::after{left: 80%;}

    .contact-content button:hover{
        cursor: pointer;
        color: #f7f7f7;
        background-color: var(--color);
        
    }
    
}
@media screen and(min-width: 600px) {
    .contact{height: 400px;}
    .contact-content{width: 550px;}
}

