#home-page{
    width: 100%;
    height: 100vh;
    /* border: 2px solid red; */
    /* filter: blur(0px);
    transition: filter 0.5s ease-in-out; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    width: 100%;
    height: 75px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav{
    /* background: rgba(247, 247, 247, 1); */
    z-index: 10;
    background: var(--themeContent);
    box-shadow: var(--themeShadow);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    position: absolute;
    right: -100%;
    top: 0%;
    bottom: 0%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: right 0.5s cubic-bezier(.39,.58,.57,1);;
    
}
a:link, a:visited{ color: inherit; text-decoration: none;}
a:hover, a:focus{ color: var(--color);}

nav button{
    width: 100px;
    height: 40px;
    background-color: transparent;
    color: var(--color);
    font-family: 'Azeret Mono', monospace;
    font-size: 1rem;
    border: 2px solid var(--color);
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
nav button:hover, nav button:active{
    color:#F7F7F7;
    background-color: var(--color);
}

/* THEME SWITCHER SMALL SCREEN VERSION */
#themeSwitcherMobile{display: none;}
#mobile-switch-wrapper{
    box-shadow: var(--themeShadow);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    position: absolute;
    left: 20px;
    top: 20px;
    width: 32px;
    height: 32px;
    border-radius: 12px;
    cursor: pointer;
    overflow: hidden;
}
#check-area{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* background-color: violet; */
    border: 2px solid var(--color);
}
#themeSwitcherMobile:checked ~ #sun{top: 200%;}
#themeSwitcherMobile:checked ~ #moon{top: 50%;}
.theme-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#moon{top: -100%;}
#moon path{fill: var(--color);}
#sun path{fill: var(--color);}



/* LOGO */
#logo{
    font-family: 'Righteous', cursive;
    font-size: 3rem;
}
#logo > span{
    color: var(--color);
}

/* BOUTON DE MENU POUR MOBILE */
#menu-btn{
    width: 32px;
    height: 32px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}
.part-of-btn{
    width: 100%;
    height: 10%;
    background-color: var(--textColor);
    border-radius: 12px;
}
#snd{transform: scaleX(0.70);}
#trd{transform: scaleX(0.50);}

/* ANIMATION À L'OUVERTURE DU MENU MOBILE */
#menu-btn.isOpen #fst{
    transform: translateY(11px) rotate(45deg);
}
#menu-btn.isOpen #snd{opacity: 0%;}
#menu-btn.isOpen #trd{
    transform: scaleX(1);
    transform: translateY(-11px) rotate(-45deg);
}
#menu-btn.isOpen{transform: rotate(360deg);}

/* LES BOUTON POUR CHANGE LA COULEUR DU SITE */
.colors-container{
    height: 60px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    z-index: 10;
    
}
.colors-container > button{
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 24px;
    border: 3px solid var(--gadgetColor);
    box-shadow: var(--themeShadow);
    transition: all 0.3s ease-in-out;

}
#green{background-color: #32c267;}
#orange{background-color: #ff8b00;}
#blue{background-color: #59a5ff;}

.colors-container > button:hover{transform: scale(1.2);}
.colors-container > button:active{transform: scale(0.98);}


/* LE TEXTE DU MILIEU */
.main-text{
    align-self: center;
    min-width: fit-content;
    height: min-content;
    min-height: min-content;
    overflow: hidden;
    z-index: 3;
}
#titre{
    animation: slideUp 1.7s ease forwards;
    transition: 0.3s;
}
.titles:after { /* code pour le souligné vert */
    display:block;
    content: '';
    border-bottom: solid 5px var(--color);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    z-index: 10;
}
.titles:hover:after { transform: scaleX(1); }
@keyframes slideUp {
    0%{
        transform: translateY(200%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
div > p{font-size: 1.5rem;}
p > span{color: var(--color);}




/* LES VAGUES COLORÉES */
.waves path{fill: var(--color);}


.onLarge{
    display: none;
}






/* BIG SCREENS */
@media screen and (min-width: 900px){
    .onLarge{display: unset;}
    .onSmall{display: none;}
    #menu-btn{display: none;}

    nav{
        /* border: 2px solid red; */
        position: unset;
        box-shadow: unset;
        background: unset;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 650px;
    }
    nav a{transition: color 0.3s ease;}
    nav a::before{
        content: "</";
        /* color: var(--color); */
        color: grey;
    }
    nav a::after{
        content: ">";
        /* color: var(--color); */
        color: grey;
    }
    .main-text{margin-bottom: 50px;}
    .main-text > p{font-size: 2rem;}
    .main-text > h1{font-size: 3rem;}
    .waves{
        position: absolute;
        bottom: 0%;
    }

    /* PROGRESS BAR */
    .progress-container{
        position: fixed;
        top: 50%;
        right: 20px;
        transform: translate(-0%,-50%);
        width: 20px;
        height: 200px;
        background: var(--gadgetColor);
        box-shadow: var(--themeShadow);
        
        backdrop-filter: blur( 4px );
        border-radius: 24px;
        z-index: 10;
        display: flex;
        justify-content: center;
        animation: 1s ease-out 0s 1 slideFromRight;
    }
    .progress-bar{
        margin-top: 5px;
        width: 10px;
        height: 0;
        max-height: 190px;
        background-color: var(--color);
        border-radius: 24px;
        transition: background-color 0.5s ease;
    }

    .colors-container{
        position: absolute;
        width: 60px;
        height: 200px;
        top: 50%;
        left: 0%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .colors-container > button{
        cursor: pointer;
        margin-left: 20px;
        width: 30px;
        height: 30px;
        border-radius: 24px;
        border: 3px solid var(--gadgetColor);
        box-shadow: var(--themeShadow);
        transition: all 0.3s ease-in-out;
    
    }
}