@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --color:#32c267;
    --textColor:#1B1B1B;
    --themeContent:rgba( 255, 255, 255, 1 );
    --themeShadow:0 8px 32px 0 rgba( 99, 99, 99, 0.37 );
    --gadgetColor:rgb( 255, 255, 255);
    scroll-behavior: smooth;
}


body{
    width: 100%;
    height: 100%;
    font-family: 'Azeret Mono', monospace;
    overflow: hidden;
    background: var(--themeContent);
    color: var(--textColor);
    /* font-family: 'Righteous', cursive; */
}

/* CE CODE PERMET DE RÉSOUDRE LE PROBLÈME D'OVERFLOW-X SUR MOBILE */
#content{
    position: relative;
    overflow-x: hidden;
}