@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all ease 0.5s;
    scrollbar-width: none;

}
:root{
    /* COULEURS */
    --color:#32c267;
    --textColor:#1B1B1B;
    --oppositeTextColor: #F7F7F7;
    --themeContent:rgba( 255, 255, 255, 1 );
    --themeShadow:0 8px 32px 0 rgba( 99, 99, 99, 0.37 );
    --gadgetColor:rgb( 255, 255, 255);

    /* FONT SIZES */
    --fz-xs: 12px;
    --fz-sm: 14px;
    --fz-lg: 16px;
    --fz-xl: 22px;
}


body{
    width: 100%;
    height: 100%;
    font-family: 'Azeret Mono', monospace;
    background: var(--themeContent);
    color: var(--textColor);
}

/* CE CODE PERMET DE RÉSOUDRE LE PROBLÈME D'OVERFLOW-X SUR MOBILE */
#content{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* 
ICI JE VEUX QUE LES PAGES EN DESSOUS DE LA HOME PAGE
AIENT LEUR CONTENU CENTRÉ 
*/
#articles-wrapper-wrapper{
    top: -10%;
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#articles-wrapper{
    width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

svg path{fill: var(--color);}

@media screen and (min-width: 2000px){
    .basic-text{font-size: var(--fz-xl);}
    div > ul li{font-size: var(--fz-xl);}
    p{font-size: var(--fz-xl);}
}
@media screen and (max-width: 2000px){
    .basic-text{font-size: var(--fz-lg);}
    div > ul li{font-size: var(--fz-lg);}
    p{font-size: var(--fz-lg);}
}
@media screen and (max-width: 810px){
    .basic-text{font-size: var(--fz-sm);}
    div > ul li{font-size: var(--fz-sm);}
    p{font-size: var(--fz-sm);}
}
@media screen and (max-width: 600px){
    .basic-text{font-size: var(--fz-xs);}
    div > ul li{font-size: var(--fz-xs);}
    p{font-size: var(--fz-xs);}
}